.App {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
}

#main-container {
  display: flex;
  width: 100%;
}

#left-hand-side {
  min-width: 50%;
  height: 100%;
}

#right-hand-side {
  min-width: 50%;
  max-width: 50%;
  height: 100%;
}

#transactionDetailsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#details-transaction-summary {
  border: 1px black solid;
  width: 100%;
  min-height: 20%;
  justify-content: flex-end;
}

#internal-external-dts {
  text-align: right;
  justify-self: flex-start;
}

#warnings {
  width: 100%;
  border: 1px black solid;
}

#request {
  border: 1px black solid;
  width: 150px;
}

#details-response-container {
  border: 1px black solid;
  width: 148.5px;
}

#warning {
  
  width: 300px;
}