body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  color: #fff4e5;
  background-color: #3d3c42;
}

strong {
  color: #e0d3ca;
}

#brom-title {
  font-size: 20px !important;
  font-family: Fondamento, Arial, Helvetica, sans-serif;
  color: #649cff;
}

.warnings-text {
  color: #D15F5C;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.transaction-filter {
  flex-shrink: 0;
}

.tooltip {
  display: none;
  background-color: #212024;
  color: white;
  position: absolute;
  top: -30px;
  left: -50px;
  white-space: nowrap;
  z-index: 100;
  padding: .25em .75em;
  border-radius: 2px;
}

.icon {
  position: relative;
  margin: 0 .25em;
}

.icon:hover .tooltip {
  display: block;
}

#flag-filter {
  padding: .25em;
}

#main-container {
  display: flex;
  width: 100%;
}

#left-hand-side {
  min-width: 50%;
  height: 100vh;
  border-right: 1px solid black;
}

#right-hand-side {
  width:50%;
  height: 100vh;
}

#transaction-details-container {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

#details-transaction-summary {
  padding: 0.5em;
  border-bottom: 4px solid;
  justify-content: flex-end;
  flex-shrink: 0;
}

#internal-external-dts {
  text-align: right;
  justify-self: flex-start;
}

#warnings-accordion {
  padding: .5em;
  border-bottom: 1px black solid;
}

#details-response-container {
  width: 50%;
}

#details-request-container {
  width: 50%;
}

#request, #response {
  padding-left: .5em;
}

#warning {
  width: 300px;
}

#port-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: .25em 1em;
}

#port-bar .labeled-text {
  margin: 0 .25em;
}

.ports {
  display: flex;
  align-items: center;
}

#brom-title {
  font-size: 1.25em;
}

#transaction-list {
  overflow-y: auto;
}

.global-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 1em;
}

.charts div {
  margin: 0 1em;
  display: inline-block;
  text-align: center;
}

.title-info {
  padding: 0 1em;
}

.audit-results {
  border-bottom: 1px solid black;
}

h1 {
  margin: 0.3em 0 0;
}

h3 {
  margin: 0.75em 0;
}

p {
  margin: 0.25em 0;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 160px;
}

.transaction-item-endpoint {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 .5em;
}
.transaction-item-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item-flags {
  margin-right: 1.25em;
}

.filter-flags {
  margin-right: 1.25em;
}

#method-filter, #domain-filter{
  border-right: 1px solid black;
  padding: 0.25em;
}

#method-filter {
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5em;
}

#method-filter select {
  background-color: white;
  border: 0;
}

.header-list {
  overflow-y: scroll;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

.simple-accordion {
  padding-left: 0.5em;
}

.cookies, .set-cookie, .fp, .csp {
  padding-left: 0.5em;
}

.light-bg {
  background-color: #504F57
}