.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
}

#main-container {
  display: flex;
}


#transactionDetailsContainer {
  display: flex;
}

#details-transaction-summary {
  border: 1px black solid;
  flex-grow: .1;
  width: 300px;
  height: 100px;
}

#internal-external-dts {
  margin-top: 0px;
  align-self: flex-end;
  justify-content: space-between;
}

#request {
  border: 1px black solid;
  width: 150px;
}

#details-response-container {
  border: 1px black solid;
  width: 148.5px;
}